<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-3">
        <div class="mb-1">
          <%= image.id %>
          <%= image.author %>
        </div>
        <%= image_tag image.download_url, class: "img-fluid rounded" %>
      </div>
    <% end %>
  </div>
</div>
